@import "../../assets/styles/vars.scss";

.Pagination {
  &__container {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__page {
    margin: 0 0 5px 10px;
  }

  &__page-link,
  &__break-link {
    display: inline-block;
    width: 60px;
    border: 2px solid $color-border-card;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: $base-font-size;
    line-height: 56px;
    font-family: $base-font-family;
    transition: $transition-time;
    cursor: pointer;

    &_active {
      border: 2px solid $color-text-main;
    }

    &:hover {
      border: 2px solid $color-text-main;
    }
  }

  &__break {
    margin-left: 10px;
  }

  &__previous,
  &__next {
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &__previous-link,
  &__next-link {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1.7px solid $color-border-button;
    border-radius: 50%;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
      border: 2px solid $color-text-main;
    }
  }

  &__navigation-icon {
    width: 20px;
    height: 20px;
  }

  &__previous-link {
    transform: rotate(180deg);
  }

  &__next-link {
    margin-left: 10px;
  }
}
