.Home {
    
    &__container {
        max-width: 1331px;
        margin: 230px auto 328px;
        padding: 0 40px;

        @media (max-width: 992px) {
            padding: 0 20px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #000000;
        margin-bottom: 16px;
    }
}