.Card {
  width: 100%;
  height: 100%;
  border: 3px solid #f2f2f2;
  transition: 0.2s;
  &:hover {
    border: 3px solid #232323;
  }

  &__image-container {
    position: relative;
    padding: 0 0 108% 0;
  }

  &.Slider-format &__image-container {
    position: relative;
    padding: 0 0 107% 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__info-container {
    padding: 28px;
  }

  &__sub-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #232323;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: #232323;
  }
}
