.Header {
  background: #022b32;

  &__container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  &__logo {
    width: 110px;
    height: 27px;
    margin-right: 55px;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 55px;

    &.active {
      text-decoration: underline;
    }
  }
}
