@import "../../assets/styles/vars.scss";

.Footer {
  background: $color-main;

  &__container {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  &__copyright-note {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-white;
  }
}
