.PrevButton {

    position: absolute;
    top: 45%;
    left: -30px;
    z-index: 5;
    cursor: pointer;

    @media (max-width: 992px) {
        left: 15px;
    }

    @media (max-width: 668px) {
        top: 35%;
    }

    &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
    }

    &__ellips {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background: #FFFFFF;
        border: 1.7px solid #F8F8F8;
        box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);

        @media (max-width: 668px) {
            width: 50px;
            height: 50px; 
        }
    }

    &__icon {
        transform: rotate(180deg);
    }
}