.Slider__wrapper {
    position: relative;
    // padding: 0 20px;
}

.Slider {
    &__slide {
        height: auto;
        padding-bottom: 3px;
    }
}
.swiper-button-prev, 
.swiper-button-next {
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1.7px solid #F8F8F8;
    box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);

}
.swiper-button-prev::after, 
.swiper-button-next::after {
    color: #757575;
    font-size: 20px;
    font-weight: 700;

}
.swiper-button-prev.swiper-button-disabled, 
.swiper-button-next.swiper-button-disabled {
    opacity: 0;

}