@import "../../assets/styles/vars.scss";

.SearchField {
  &__form {
    margin-left: auto;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input,
  &__input_instant {
    font-family: $base-font-family;
    font-weight: 400;
    font-size: $base-font-size;
    line-height: 28px;
    color: $color-white;
    background: none;
    border: none;
    outline: none;
    max-width: 195px;

    &_instant {
      color: $color-text-main;
    }

    &::placeholder {
      color: $color-text-gray;
    }
  }

  &__icon {
    margin-right: 16px;
  }
}
